[buildout]
extends = https://raw.github.com/collective/buildout.plonetest/master/test-4.x.cfg
    https://raw.githubusercontent.com/IMIO/cpskin.policy/master/buildout.cfg
    https://raw.githubusercontent.com/IMIO/cpskin.policy/master/robot.cfg
    https://raw.githubusercontent.com/IMIO/cpskin.policy/master/versions.cfg
package-name = cpskin.menu

auto-checkout =
    cpskin.locales
    cpskin.core
    cpskin.theme
    affinitic.caching
    lovely.memcached
    diazotheme.frameworks

parts +=
    omelette

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}
       ${test:eggs}

[test]
recipe = zc.recipe.testrunner
defaults = ['--auto-color', '--auto-progress']
eggs =
    cpskin.menu [test]
