#mobnav-btn,
#advanced-breadcrumbs,
#mobile-first-level-wrapper,
#portal-globalnav-cpskinmenu-mobile
{
    display: none;
}

#portal-globalnav-cpskinmenu .selected a,
#portal-globalnav-cpskinmenu-tabs .selected a,
#portal-globalnav-cpskinmenu .navTreeItemInPath > span a
{
    text-decoration: underline;
}

#portal-globalnav-cpskinmenu a:hover,
#portal-globalnav-cpskinmenu-tabs a:hover
{
    background: none repeat scroll 0 0 #205C90;
    color: #FFFFFF;
}

#portal-globalnav-cpskinmenu-tabs
{
    margin-bottom: 1px;
}

#portal-globalnav-cpskinmenu-tabs li a,
#portal-globalnav-cpskinmenu li a
{
    display: block;
    padding: 0.5em 1em 1.7em;
    white-space: normal;
}

#portal-globalnav-cpskinmenu-tabs li,
#portal-globalnav-cpskinmenu li
{
    display: inline-block;
    width: 25%;
}

#search-btn
{
    display: none;
}

.advb-submenu li
{
    display: inline-block;
}

.navTreeClose
{
    cursor: pointer;
    float: right;
    position: absolute;
    right: 0;
}

.sf-menu .navTreeItemInPath ul.navTreeLevel1
{
    display: inherit;
}

.sf-menu ul.direct_access
{
    background-color: red;
    float: right;
    left: 75%;
    width: 25% !important;
}

.sf-menu ul.navTreeLevel1,
.sf-menu ul.navTreeLevel2,
.sf-menu ul.navTreeLevel3
{
    display: none;
    visibility: hidden;
}

.sf-menu ul.navTreeLevel1,
.sf-menu ul.navTreeLevel2,
.sf-menu ul.navTreeLevel3
{
    background-color: #DDDDDD;
    border-top: 1px solid #999999;
    position: absolute;
    width: 100%;
}

.sf-menu ul.navTreeLevel1.has_direct_access
{
    box-sizing: border-box;
    moz-box-sizing: border-box;
    padding-right: 25%;
    webkit-box-sizing: border-box;
}

.sf-menu ul.navTreeLevel1.has_direct_access,
.sf-menu ul.navTreeLevel1.no_direct_access,
.sf-menu ul.navTreeLevel2,
.sf-menu ul.navTreeLevel3
{
    left: 0;
}

li.sfHover >span >a
{
    background-color: #205C90;
    color: #FFFFFF;
}

ul.navTreeLevel0
{
    background-color: #DDDDDD;
    margin-bottom: 1em;
    position: relative;
}

ul.navTreeLevel0 li a
{
    display: inline;
}

ul.navTreeLevel1.direct_access > li
{
    display: block !important;
    width: 100% !important;
}

ul.navTreeLevel1.has_direct_access > li
{
    width: 33.33% !important;
}
